html, body {
    background-color: #0A0D14;
    color: azure;
    font-family: poppins;
    font-size: 1em;
    height: 100%;
    margin: 0;
}


/* TOP NAVBAR */
header {
    opacity: 0.8;
    background-color: #0A0D14;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline-block;
    margin: 10px 18px;
}

nav ul li a {
    font-family: Lato;
    font-weight: 500;
    color: #B6B7B9;
    text-decoration: none;
}

li a:hover,
a:active {
    color: #ffff;
}


/* SIDE NAVBAR */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: transparent;
    left: 0;
    width: 46px;
    height: 100%;
}

.sidebar a img {
    height: 40px;
    width: 40px;
    margin: 10px 20px;
    cursor: pointer;
}


/* MAIN CONTENT */
.main-wrapper {
    display: flex;
}

.main-wrapper main {
    font-family: Lato;
    line-height: 2em;
    flex: 6;
    flex-shrink: 0;
}

.left-space, .right-space {
    flex: 4;
    flex-shrink: 1;
}

.heading-sml {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;

}

    /* Featured Projects */
    .projects-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: space-evenly;
        flex-wrap: nowrap;
        gap: 2em;
        margin-bottom: 2em;
    }

    .projects-wrapper div {
        border-radius: 24px;
        border: 4px dashed orange;
        height: 400px;
        flex: 1;
        flex-shrink: 0;
        text-align: center;
        color: orange;
    }

    /* Footer */
    .footer-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height:120px;
    }

    .footer-wrapper div {
        flex: 1;
    }

    .footer-wrapper div:first-child {
        font-size: 29px;
    }

    .footer-wrapper div span:hover {
        background-color:#0059FF;
    }


/* OTHER */

    /* Buttons */
    .btn {
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: white;
    }

    .btn-sm {
        width: 160px;
        height: fit-content;
        padding: 10px 20px;
        margin: 20px;
    }

    .btn-border {
        color: white;
        border-radius: 4px;
        background-color: transparent;
        border-color: darkcyan;
    }

    .btn-border:hover {
        /* border-color: darkgoldenrod; */
        border-color: #02798b;
        border-width: 0.29em;
        font-weight:bolder;
    }


    /* Images */

    .icons img {
        width: 16px;
        height: 16px;
        margin: 10px;
        filter: invert(100%);
    }

    #logo {
        font-family: Lato, sans-serif;
        color: azure;
        font-size: 18px;
        font-weight: 900;
        text-decoration: none;
        letter-spacing: normal;
        margin-left: 18px;
    }


    /* Scroll Bar */
    ::-webkit-scrollbar {
        background-color: transparent;
        border-color: transparent;
        width: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background: #4C7298;
        border-radius: 8px;
    }

    ::selection {
        background-color: #153C50;
        color: azure;
    }

    .blue-underline {
        text-decoration-line: underline;
        text-decoration-color: #0059FF;
        text-align: left;
        text-decoration-thickness: 2px;
    }

    #menu {
        display: none;
    }

/* SCREEN SIZES */

    /* Desktops */
    @media (min-width: 1001px){
        /* start minimizing left & right space */
        .left-space, .right-space {
            flex-shrink: 1;
        }
        .main-wrapper main {
            flex-shrink: 0;
        }
    }

    @media (max-width: 1000px){
        /* start minimizing project divs */

    }


    /* Ipads / iPhones */
    @media (max-width: 840px){
        /* switch to menu and one-column layout */
        nav ul {
            display: none;
        }

        #menu {
            display: inline-block;
        }
        .main-wrapper main {
            flex: 4;
        }
        .projects-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.4em;
        }
        .projects-wrapper div {
            width: 100%;
        }
    }